# Random Forest:  17/10/2020

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('DressifyData_cleaned.csv')
df.head()

,Style,Price,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Area,Recommended
0,3,1,6,4,13,8,2,4,2,1,4,3,1
1,2,1,6,3,5,8,4,3,2,1,2,4,1
2,7,2,3,2,5,8,1,11,2,1,2,1,1
3,5,2,6,4,5,7,5,14,3,2,3,1,1
4,2,1,6,4,1,3,4,4,3,3,3,3,1

In [4]:
#Step 1: Data Mapping
X = df.iloc[:,:-1]
X.head()

,Style,Price,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Area
0,3,1,6,4,13,8,2,4,2,1,4,3
1,2,1,6,3,5,8,4,3,2,1,2,4
2,7,2,3,2,5,8,1,11,2,1,2,1
3,5,2,6,4,5,7,5,14,3,2,3,1
4,2,1,6,4,1,3,4,4,3,3,3,3

In [5]:
y = df.iloc[:,-1]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Recommended, dtype: int64

In [6]:
#Step 2: Data Split into train test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [7]:
#Step 3: Apply Models
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=3, bootstrap=True)
modelfit = model.fit(X_train, y_train)

In [8]:
ycap = model.predict(X_test)
print(ycap)

[1 0 0 0 1 1 1 1 1 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 1 0
 1 0 1 1 1 1 1 0 0 0 0 1 0 0 1 1 0 1 1 1 0 0 1 0 1 0 1 1 1 1 0 1 0 0 0 1 0
 1 0 1 0 0 0 1 0 0 1 0 1 1 1 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1]

In [9]:
df1 = pd.DataFrame(ycap)

df1['ycap1']= df1.round()
print(df1)

     0  ycap1
0    1      1
1    0      0
2    0      0
3    0      0
4    1      1
..  ..    ...
103  0      0
104  0      0
105  0      0
106  0      0
107  1      1

[108 rows x 2 columns]

In [10]:
#Accuracy Score
from sklearn.metrics import accuracy_score
AccuracyScore = accuracy_score(df1['ycap1'], y_test)
print('AccuracyScore: ',AccuracyScore)

AccuracyScore:  0.6111111111111112